.customContainer {
    max-width: 50rem;
    border:  1px solid rgb(114, 135, 230); 
        border-radius: 0.5rem;
}
.createlogo{
    color: rgba(0, 119, 255, 0.582);
}
.customnavbar{
    background-color: rgb(113, 87, 173);
}

.logincontainer{
    max-width: 35rem;
    border:  1px solid rgb(114, 135, 230); 
    border-radius: 0.5rem;
}


.nav-link-underline {
    position: relative;
    text-decoration: none;
    color: #000; /* Change to your desired text color */
}

/* Define the animated underline effect */
.nav-link-underline::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px; /* Adjust the underline height as needed */
    bottom: -6px;
    left: 0;
    background-color: #40006b; /* Change to your desired underline color */
    transform-origin: bottom right;
    transition: transform 0.2s;
}

/* Add the hover effect */
.nav-link-underline:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
